@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Work Sans", serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.secondary_bg{
    background-color: #FFF8F3;
}
.dark_1{
    color: #181818;
}
.dark_2{
    color: #474747;
}
.dark_3{
    color: #757575;
}
.btn_primary{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
}
.header{
    background-image: url("./images/developer.png"),url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.font_family{
    font-family: "Work Sans", serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;

}
ul li a{
    text-decoration: none;
    color: #181818;
    font-size:20px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
.nav_title span{
color: #FD6E0A;
}

/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    width: 580px;
    margin-top: 100px;
    
}
.banner_greetings{
   
    font-weight: 600;
    font-size: 42px;
}
.banner_title{
    font-size: 85px;
}
.banner_description{
    font-size: 18px;
    width: 585px;
    margin: 30px 0;
    line-height: 30px;
}
.banner_img{
    width: 584px;
    height: 676px;
   
}

.banner_img img{
    height: 100%;
    width: 100%;
}
/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about_section{
    border-radius: 10px;
    padding: 150px 250px;
    text-align: center;
    margin:100px 0px ;
}
.about_des{
    font-size: 14px;
    margin: 10px;
    line-height: 27px;

}
.about_title{
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0px;
}
.item_title{
    font-weight: bold;
}
.about_items{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
/* what is do section */
.skill_title,skill_des{
    text-align: center;
}
.cards{
    display: flex;
    margin-top: 70px;
   gap: 30px;
}
.card{
    background-color: rgb(239, 247, 250);
    height: 200px;
    display: flex;
    flex-direction: column;
}
.card_title .card_icon{
    margin-top:40px;
}
.skills_des{
    font-size: 18px;
}
